*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    color:white;
    font-weight:20px;
}
.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
}

.footer h1{
    margin-bottom:25px;
    margin-top:20px;
    font-weight:600;
}
.text{
    color:grey;
    margin-top:2%;
}
.fa-users{
    color:#f44336;  
}
.about-col{
    flex-basis:48%;
    margin-top:10%;
    margin-left:2%;
    }
.about-col img{
        width:80%;
        height: 95%;
    }
.about-col h1{
    padding-top:0;
    font-weight:bold;
}
.about-col p{
    padding:15px 0 25px;
}
.github-btn{
    display:inline-block;
    margin-top:60px;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position:relative;
    cursor:pointer;
}
.github-btn:hover{
    border:1px solid #FFFF00;
    background:#FFFF00;
    transition:1s;
    }
.yellow-btn{
    border: 1px solid #FFFF00;
    background:transparent;
    color:#FFFF00;
}
.yellow-btn:hover{
    color:#fff;
}

.footer-drk{
    background-color:black;
    width:100%;
    text-align:center;
    padding:30px 0;
    color:grey;
}
.row.row-cols-1.row-cols-md-3.g-4{
    margin-top: 1%;
    width: 80%;
    margin-left: 5%;
    margin-bottom:5%;
}




    /* My Account */
    .header{
        min-height: 100vh;
        width: 100%;
        background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/signup.jpg") no-repeat fixed;
        background-position:center;
        background-size: cover;
        position:relative;
    }
    .text-box{
        width:90%;
        color:#fff;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .text-box h1{
        font-size:20px;
        text-align:center;
        font-weight:bold;
    }
    
    .text-box p{
        margin:10px 0 40px;
        font-size: 14px;
        color:#fff;
        text-align:left;
    }
    .form-floating.mb-3{
        color:black;
    }
    .form-floating{
        color:black;
    }
    .form-check{
        text-align:left;
        font-weight:normal;
        margin-top:2em;
    }
    .btn.btn-light{
        float:left;
        color:black;
        font-weight:bold;
        margin-top:2em;
    }
    .password{
        text-align:left;
        margin-top:2em;
        color:white;
    }
/* Product */
    .container{
        width:900px;
        max-width:90vw;
        margin:auto;
        text-align:center;
           padding-top:10px;
    }
    svg{
        width:30px;
    }
    header{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:20px 0;
    }
    header .icon-cart{
        position:relative;
    }
    header .icon-cart span{
        display:flex;
        width: 30px;
        height:30px;
        background-color:red;
        justify-content:center;
        color:#fff;
        border-radius:50%;
        position:absolute;
        top:50%;
        right:-20px;
    }
    .addCart{
        background-color: #353432;
        color:#eee;
        padding:5px 10px;
        border-radius:20px;
        margin-top:10px;
        border-top:10px;
        border:none;
        cursor:pointer;
    }
    .cartTab{
        width:400px;
        background-color: #353432;
        color:#eee;
        position:fixed;
        inset:0 -400px 0 auto;
        display:grid;
        grid-template-rows:70px 1fr 70px; 
    }
    .cartTab h1{
        padding: 20px;
        margin: 0;
        font-weight: 300;
    }
    .cartTab .btn{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
    }
    .cartTab .btn button{
        background-color: green;
        border:none;
        font-family:Poppins;
        font-weight: 500;
        cursor:pointer;
    }
    .cartTab .btn .close{
        background-color: #eee;
    }
    .cartTab .listCart .item img{
        width:100%;
        border-radius: 10%;
        margin-left:3%;
    }
    .cartTab .listCart .item{
        display:grid;
        grid-template-columns:70px 150px 50px 1fr;
        gap:10px;
        text-align:center;
        align-items:center;
    }
    .listCart .quantity span{
        display:inline-block;
        width:25px;
        height:25px;
        background-color:#eee;
        color:#555;
        border-radius:50%;
        cursor:pointer;
    }
    .listCart .quantity span:nth-child(2){
        background-color:transparent;
        color:#eee;    
    }
    .listCart .item:nth-child(even){
        background-color:#eee1;
    }
    .listCart{
        overflow:auto;
    }
    .listCart::-webkit-scrollbar{
        width:0;
    }