{% extends 'base.html' %}

{% block app_content %}

<div class="container">
  <header>
      <div class="title">PRODUCT LIST</div>
      <div class="icon-cart">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
          </svg>
          <span>0</span>
      </div>    
  </header>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src=" {{ url_for('static', filename='images/retro.jpg') }} " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Metallic sunglasses</h5>
        <p class="card-text">Ksh 2500</p>
      </div>
      <button class="addCart">Add to Cart</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src=" {{ url_for('static', filename='images/rectangle.jpg') }} " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rectangle glasses</h5>
        <p class="card-text">Ksh 2000</p>
      </div>
      <button class="addCart">Add to Cart</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src=" {{ url_for('static', filename='images/round.jpg') }} " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Round glasses</h5>
        <p class="card-text">Ksh 2500</p>
      </div>
      <button class="addCart">Add to Cart</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src=" {{ url_for('static', filename='images/cateyes.jpg') }} " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cat Eyes</h5>
        <p class="card-text">Ksh 2300</p>
      </div>
      <button class="addCart">Add to Cart</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src=" {{ url_for('static', filename='images/wideeyes.jpg') }} " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wide Eyes</h5>
        <p class="card-text">Ksh 2700</p>
      </div>
      <button class="addCart">Add to Cart</button>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src=" {{ url_for('static', filename='images/clear.jpg') }} " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Clear Frames</h5>
        <p class="card-text">Ksh 2500</p>
      </div>
      <button class="addCart">Add to Cart</button>
    </div>
  </div>
</div>

<div class="cartTab">
  <h1>Shopping Cart</h1>
  <div class="listCart">
    <div class="item">
      <div class="image">
        <img src=" {{ url_for('static', filename='images/retro.jpg') }} " alt="">
      </div>
      <div class="name">
        Metallic glasses
      </div>
      <div class="totalPrice">
        Ksh 2500
      </div>
      <div class="quantity">
        <span class="minus"><</span>
        <span>1</span>
        <span class="plus">></span>
      </div>
    </div>
  </div>

  <div class="btn">
    <button class="close">CLOSE</button>
    <button class="checkOut">CHECK OUT</button>
  </div>
</div>

{% endblock %}